{{ define "head" }}
<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ゴミ出し通知サービス">
        <title>ゴミ出し通知サービス</title>
        <script src="/gc_alert/assets/gc_alert.js"></script>
        <!-- 開発バージョン -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 本番バージョン -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <link rel="stylesheet" href="/gc_alert/assets/style.css">
    </head>
{{ end }}
