{{ template "head" }}
{{ if .isSignIn }}
    <body>
        <h1>Welcome home {{ .username }}.</h1>
        <h2>Your Email address is {{ .email }}</h2>
        <form id="signout-form" action="/user/logout" method="POST">
            <input type="submit" value="ログアウト">
        </form>
    </body>
{{ else }}
    <body>
        <h1>Welcome to GC_Alert.</h1>
        <ul>
            <li><a href="/gc_alert/signin">signin</a>
            <li><a href="/gc_alert/signup">signup</a>
        </ul>
    </body>
{{ end }}
{{ template "foot" }}
