{{ template "head" }}
{{ if .isSignIn }}
    <body>
        <h1>{{ .username }} さん</h1>
        <h2>ゴミ収集日通知サービス</h2>
        {{ if .isTrashFlg }}
        <p>利用中です。</p>
        {{ else }}
        <h3>ステップ1. ゴミ収集日通知サービス</h3>
        <p>
            ゴミ収集日の通知はLINE通知を使って行います。以下の「登録」ボタンを押下してLINE通知登録をお願いします。
        </p>
        <a href="{{.lineNotifyURL}}">登録</a>
        {{ end }}
        <h3>ステップ2. 地域登録</h3>
        地域の登録
        <form action="" method="post">
            都道府県：<select name="pref_id">
            </select>
            市：<select name="city_id">
            </select>
            町：<select name="town_id">
            </select>
            <button type="submit">送信</button>
            </form>
        <br/>
        <a href="/gc_alert/user/logout">ログアウト</a>
    </body>
{{ else }}
    <body>
        <h1>Welcome to GC_Alert.</h1>
        <ul>
            <li><a href="/gc_alert/signin">ログイン</a>
            <li><a href="/gc_alert/signup">ユーザー新規登録</a>
        </ul>
    </body>
{{ end }}
{{ template "foot" }}
