{{ template "head" }}
{{ if .isSignIn }}
    <body>
        <h1>{{ .username }} さん</h1>
        <h2i>通知一覧</h2>
        <table>
            <tr><th>通知</th><th>登録解除</th></tr>
            <tr><td>ゴミ収集日</th>
                <th>
                    <form action="/gc_alert/user/register_trashnotify" method="post">
                        <button>
                            {{ if .isTrashFlg }}解除
                            {{ else }}登録
                            {{ end }}
                        </button> 
                    </form>
                </th></tr>
        </table>
        <form id="signout-form" action="/gc_alert/user/logout" method="POST">
            <input type="submit" value="ログアウト">
        </form>
    </body>
{{ else }}
    <body>
        <h1>Welcome to GC_Alert.</h1>
        <ul>
            <li><a href="/gc_alert/signin">signin</a>
            <li><a href="/gc_alert/signup">signup</a>
        </ul>
    </body>
{{ end }}
{{ template "foot" }}
